// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

.cover {
  background-image: url(asset_path('books-cover.png'));
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

.cover-heading {
// color: #131fa2;
  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    line-height: 70px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);;
  }
}

.rent {
  color: rgb(255, 255, 255);
  font-size: 100px;
  stroke: #131fa2;
}

.book {
  color: #131fa2;
  font-size: 60px;
}



.book-image {
  width: 100px;
}

.socials-box {
  background-size: cover;
  background-color: #131fa2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  color: white;
  width: 100%;
  height: 150px;

  .row {
    // height: 150px;
    align-items: center;

    .my-font {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      font-size: 20px;

    }

    p {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      font-weight: 100;
    }

    p {
      font-family: 'Open Sans', sans-serif !important;
      font-family: 'Roboto', sans-serif !important;
    }
  }
}




.card-img-top-small {
//   max-width: 50%;
//   max-height: 50%;
// overflow-clip-margin: content-box;
//   align-content: center;
//   align-items: center;
//   object-fit: cover;
//   display: block;

 max-height: 120px;
 object-fit: contain;
 align-items: center;
 margin-left: 130px;

}
.card-title {
  font-size: 16px;
  color: #363636;
  font-weight: 300;
}

.card-text {
  font-size: 14px;
  font-style: italic;
  color: #696969;

}
