
* {
  margin: 0;
  padding: 0
}

body {
  background-color: #ffffff
}

.card {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: #afacac;
}

.image img {
  transition: all 0.5s
}

.card:hover .image img {
  transform: scale(1.2)
}

.btn2 {
  height: 140px;
  width: 140px;
  border-radius: 50%
}
.btn-secondary {
  background-color: #EFEFEF;
  border-color: #EFEFEF;
  
}

.name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #131FA2;
  color: #ffffff;
  font-size: 15px
}

.text span {
  font-size: 13px;
  color: #000000;
  font-weight: 500
}

.icons i {
  font-size: 19px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  color: #EFEFEF;
  font-weight: bold
}

.date {
  background-color: #ccc
}