<div class="container">
  <h1>Dashboard</h1>

  <h2>My Books</h2>
    <div class="card-container w-80 col-9">
      <% current_user.books.each do |book| %>
        <div class="card col-3">
          <img src="https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="book">
          <h5><%= link_to book.title, book %></h5>
        </div>
      <% end %>
    </div>

    <p><%= link_to "Add new book", new_book_path %></p>

  <h2>My Rentals</h2>
</div>
