.book-start-one {
  font-family: Helvetica, sans-serif;
  color: black;
  }

.book-start-two {
  font-family: Helvetica, sans-serif;
  color: black;
}

.formstyle {
  width: 35%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131FA2;
  color: white;
  text-align: center;
}

